<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whomade.kycarrots.repository.mybatis.chat.ChatMessageMapper">

    <insert id="insertChatMessage" parameterType="com.whomade.kycarrots.entity.chat.ChatMessageVo">
        INSERT INTO tb_chat_message (
            ROOM_ID,
            SENDER_ID,
            SENDER_GROUP,
            RECEIVE_GROUP,
            MESSAGE,
            CREATED_AT,
            IS_READ
        ) VALUES (
                     #{roomId},
                     #{senderId},
                     #{senderGroup},
                     #{receiveGroup},
                     #{message},
                     NOW(),
                     0
                 )
    </insert>

    <select id="findMessagesByRoomId" resultType="com.whomade.kycarrots.entity.chat.ChatMessageVo">
        SELECT ID, ROOM_ID, SENDER_ID, SENDER_GROUP, RECEIVE_GROUP, MESSAGE, CREATED_AT, IS_READ, DATE_FORMAT(CREATED_AT, '%Y-%m-%d %H:%i') AS time
        FROM tb_chat_message
        WHERE room_id = #{roomId}
        ORDER BY created_at ASC
    </select>
</mapper>
