<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whomade.kycarrots.repository.mybatis.member.OpUserMapper">

    <select id="findByUserIdAndPassword" resultType="com.whomade.kycarrots.entity.member.OpUserVO" parameterType="map">
        SELECT
            USER_NO,
            USER_ID,
            PASSWORD,
            USER_NM,
            CTTPC_SE_CODE,
            CTTPC,
            EMAIL,
            AREA_CODE,
            AREA_SE_CODE_S,
            AREA_SE_CODE_D,
            USER_STTUS_CODE,
            LOGIN_DT,
            USER_AGE,
            BIRTH_DATE,
            UNIQUE_IDENTIFIER,
            DEVICE_ID,
            DUPLICATE_IDENTIFIER,
            GENDER,
            MEMBER_CODE,
            CITIZENSHIP_TYPE,
            PASSWORD_HASH,
            REFERRER_ID,
            REGISTER_NO,
            REGIST_DT,
            UPDUSR_NO,
            UPDT_DT
        FROM op_user
        WHERE USER_ID = #{userId}
    </select>

    <insert id="insertUser" parameterType="com.whomade.kycarrots.entity.member.OpUserVO" useGeneratedKeys="true" keyProperty="userNo">
        INSERT INTO op_user (
            USER_ID,
            PASSWORD,
            USER_NM,
            EMAIL,
            CTTPC_SE_CODE,
            CTTPC,
            AREA_CODE,
            AREA_SE_CODE_S,
            AREA_SE_CODE_D,
            GENDER,
            BIRTH_DATE,
            MEMBER_CODE,
            REFERRER_ID,
            REGIST_DT
        ) VALUES (
                     #{userId},
                     #{password},
                     #{userNm},
                     #{email},
                     '10',
                     #{cttpc},
                     '10',
                     #{areaSeCodeS},
                     #{areaSeCodeD},
                     #{gender},
                     #{birthDate},
                     #{memberCode},
                     #{referrerId},
                     NOW()
                 )
    </insert>

    <insert id="insertAuthUser" parameterType="com.whomade.kycarrots.entity.member.OpUserAuthorVO">
        /* admin.user.insertAuthUser */
        INSERT INTO op_user_author (
                                     USER_NO
                                   , AUTHOR_ID
                                   , REGISTER_NO
                                   , REGIST_DT
        ) VALUES (
                   #{userNo}
                 , #{authorId}
                 , #{registerNo}
                 , CURRENT_TIMESTAMP
                 )
    </insert>
    <select id="existsByEmail" resultType="boolean" parameterType="string">
        SELECT COUNT(1) > 0
        FROM op_user
        WHERE USER_ID = #{email}
    </select>
</mapper>