<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whomade.kycarrots.repository.mybatis.product.TnProductMapper">

    <!-- 공통 컬럼 -->
    <sql id="productColumns">
        A.PRODUCT_ID,
        A.USER_NO,
        A.TITLE,
        A.DESCRIPTION,
        A.PRICE,
        A.CATEGORY_GROUP,
        A.CATEGORY_MID,
        A.CATEGORY_SCLS,
        A.AREA_GROUP,
        A.AREA_MID,
        A.AREA_SCLS,
        A.QUANTITY,
        A.UNIT_GROUP,
        A.UNIT_CODE,
        A.DESIRED_SHIPPING_DATE,
        A.SALE_STATUS,
        A.REGISTER_NO,
        A.REGIST_DT,
        A.UPDUSR_NO,
        A.UPDT_DT,
        (SELECT IMAGE_URL
           FROM tb_product_image
          WHERE PRODUCT_ID = A.PRODUCT_ID
            AND REPRESENT = 1) AS IMAGE_URL,
        (SELECT USER_ID
           FROM op_user
          WHERE USER_NO = A.USER_NO) AS USER_ID
    </sql>

    <select id="selectTbProduct"  parameterType="dataMap" resultType="com.whomade.kycarrots.entity.product.TnProductVo">
        SELECT  <include refid="productColumns"/>
        FROM tb_product A
        WHERE
       <choose>
            <when test='memberCode == "ROLE_SELL"'>
                A.USER_NO = #{userNo}
            </when>
            <when test='memberCode == "ROLE_PROJ"'>
                A.WHOLESALER_NO = #{userNo}
            </when>
            <otherwise>
                1 = 0
            </otherwise>
        </choose>
         <!-- 항상 필터링: 판매 상태 -->
        <if test="saleStatus != null and saleStatus != ''">
            AND A.SALE_STATUS = #{saleStatus}
        </if>
        ORDER BY A.REGIST_DT DESC
        LIMIT #{offset}, #{limit}
    </select>
    <select id="selectBuyTbProduct"  parameterType="dataMap" resultType="com.whomade.kycarrots.entity.product.TnProductVo">
        SELECT  <include refid="productColumns"/>
        FROM tb_product A
        <where>
            <!-- 항상 필터링: 판매 상태 -->
            <choose>
                <!-- 체크(on) = 1: 정확히 1만 -->
                <when test="saleStatus == 1 or saleStatus == '1'">
                    AND A.SALE_STATUS = 1
                </when>

                <!-- 체크(off) = 0: 1, 10, 99 모두 -->
                <when test="saleStatus == 0 or saleStatus == '0'">
                    AND A.SALE_STATUS IN (1,10,99)
                </when>
           </choose>
            <!-- 카테고리 대분류 -->
            <if test="categoryGroup != null and categoryGroup != 'ALL'">
                AND A.CATEGORY_GROUP = #{categoryGroup}
            </if>
            <!-- 카테고리 중분류 -->
            <if test="categoryMid != null and categoryMid != 'ALL'">
                AND A.CATEGORY_MID = #{categoryMid}
            </if>
            <!-- 카테고리 소분류 -->
            <if test="categoryScls != null and categoryScls != 'ALL'">
                AND A.CATEGORY_SCLS = #{categoryScls}
            </if>

            <!-- 도시(대분류) -->
            <if test="areaGroup != null and areaGroup != 'ALL'">
                AND A.AREA_GROUP = #{areaGroup}
            </if>
            <!-- 시·구(중분류) -->
            <if test="areaMid != null and areaMid != 'ALL'">
                AND A.AREA_MID = #{areaMid}
            </if>
            <!-- 동·읍·면(소분류) -->
            <if test="areaScls != null and areaScls != 'ALL'">
                AND A.AREA_SCLS = #{areaScls}
            </if>

            <!-- 가격 최소값 -->
            <if test="minPrice != null">
                AND A.PRICE &gt;= #{minPrice}
            </if>
            <!-- 가격 최대값 -->
            <if test="maxPrice != null">
                AND A.PRICE &lt;= #{maxPrice}
            </if>
        </where>
        ORDER BY A.REGIST_DT DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 관심상품 목록 -->
    <select id="selectInterestProducts" parameterType="dataMap" resultType="com.whomade.kycarrots.entity.product.TnProductVo">
        SELECT
        A.PRODUCT_ID,
        A.USER_NO,
        A.TITLE,
        A.DESCRIPTION,
        A.PRICE,
        A.CATEGORY_GROUP,
        A.CATEGORY_MID,
        A.CATEGORY_SCLS,
        A.AREA_GROUP,
        A.AREA_MID,
        A.AREA_SCLS,
        A.QUANTITY,
        A.UNIT_GROUP,
        A.UNIT_CODE,
        A.DESIRED_SHIPPING_DATE,
        A.SALE_STATUS,
        A.REGISTER_NO,
        A.REGIST_DT,
        A.UPDUSR_NO,
        A.UPDT_DT,
        (SELECT IMAGE_URL
        FROM tb_product_image
        WHERE PRODUCT_ID = A.PRODUCT_ID
        AND REPRESENT = 1
        LIMIT 1) AS IMAGE_URL,
        (SELECT USER_ID
        FROM op_user
        WHERE USER_NO = A.USER_NO
        LIMIT 1) AS USER_ID
        FROM tb_product A
        INNER JOIN tb_product_interest I
        ON I.PRODUCT_ID = A.PRODUCT_ID
        WHERE I.USER_NO = #{userNo}
        ORDER BY A.REGIST_DT DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 구매이력 목록 -->
    <select id="selectPurchasedProducts" parameterType="dataMap" resultType="com.whomade.kycarrots.entity.product.TnProductVo">
        SELECT
        A.PRODUCT_ID,
        A.USER_NO,
        A.TITLE,
        A.DESCRIPTION,
        A.PRICE,
        A.CATEGORY_GROUP,
        A.CATEGORY_MID,
        A.CATEGORY_SCLS,
        A.AREA_GROUP,
        A.AREA_MID,
        A.AREA_SCLS,
        A.QUANTITY,
        A.UNIT_GROUP,
        A.UNIT_CODE,
        A.DESIRED_SHIPPING_DATE,
        A.SALE_STATUS,
        A.REGISTER_NO,
        PH.CREATED_AT AS REGIST_DT,
        A.UPDUSR_NO,
        A.UPDT_DT,
        (SELECT IMAGE_URL
        FROM tb_product_image
        WHERE PRODUCT_ID = A.PRODUCT_ID
        AND REPRESENT = 1
        LIMIT 1) AS IMAGE_URL,
        (SELECT USER_ID
        FROM op_user
        WHERE USER_NO = A.USER_NO
        LIMIT 1) AS USER_ID
        FROM tb_product A
        INNER JOIN tb_purchase_history PH
        ON PH.PRODUCT_ID = A.PRODUCT_ID
        WHERE PH.BUYER_NO = #{userNo}
        ORDER BY PH.CREATED_AT DESC
        LIMIT #{offset}, #{limit}
    </select>

    <insert id="insertTbProduct" parameterType="com.whomade.kycarrots.entity.product.TnProductVo" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO tb_product (
            USER_NO,
            TITLE,
            DESCRIPTION,
            PRICE,
            CATEGORY_GROUP,
            CATEGORY_MID,
            CATEGORY_SCLS,
            AREA_GROUP,
            AREA_MID,
            AREA_SCLS,
            QUANTITY,
            UNIT_GROUP,
            UNIT_CODE,
            DESIRED_SHIPPING_DATE,
            SALE_STATUS,
            WHOLESALER_NO,
            REGISTER_NO,
            REGIST_DT,
            UPDUSR_NO,
            UPDT_DT
        ) VALUES (
                     #{userNo},               -- 사용자 번호
                     #{title},                -- 제목
                     #{description},          -- 설명
                     #{price},                -- 가격
                     #{categoryGroup},        -- 카테고리 대분류
                     #{categoryMid},          -- 카테고리 중분류
                     #{categoryScls},         -- 카테고리 소분류
                     #{areaGroup},            -- 도시 대분류 (AREA_GROUP)
                     #{areaMid},              -- 도시 중분류 (AREA_MID)
                     #{areaScls},             -- 도시 소분류 (AREA_SCLS)
                     #{quantity},             -- 남은 수량
                     #{unitGroup},            -- 단위 코드
                     #{unitCode},             -- 단위 코드
                     #{desiredShippingDate},  -- 희망 출하일
                     #{saleStatus},           -- 판매 상태
                     #{wholesalerNo},         -- 중간센터
                     #{registerNo},           -- 등록자 번호
                     CURRENT_TIMESTAMP,       -- 등록 일시
                     #{updusrNo},             -- 수정자 번호
                     CURRENT_TIMESTAMP        -- 수정 일시
                 )
    </insert>

    <update id="updateTbProduct" parameterType="com.whomade.kycarrots.entity.product.TnProductVo">
        UPDATE tb_product
        SET
            TITLE = #{title},
            DESCRIPTION = #{description},
            PRICE = #{price},
            CATEGORY_GROUP = #{categoryGroup},
            CATEGORY_MID = #{categoryMid},
            CATEGORY_SCLS = #{categoryScls},
            AREA_GROUP = #{areaGroup},
            AREA_MID = #{areaMid},
            AREA_SCLS = #{areaScls},
            QUANTITY = #{quantity},
            UNIT_GROUP = #{unitGroup},
            UNIT_CODE = #{unitCode},
            DESIRED_SHIPPING_DATE = #{desiredShippingDate},
            SALE_STATUS = #{saleStatus},
            UPDUSR_NO = #{updusrNo},
            UPDT_DT = CURRENT_TIMESTAMP
        WHERE PRODUCT_ID = #{productId}
    </update>

    <delete id="deleteTbProduct" parameterType="string">
        DELETE FROM tb_product
        WHERE PRODUCT_ID = #{productId}
    </delete>

    <select id="selectProductImageById" parameterType="string" resultType="com.whomade.kycarrots.entity.product.TnProductImageVo">
        SELECT
            IMAGE_ID,
            PRODUCT_ID,
            IMAGE_CD,
            IMAGE_URL,
            IMAGE_NAME,
            REPRESENT,
            IMAGE_SIZE,
            IMAGE_TEXT,
            IMAGE_TYPE,
            REGISTER_NO,
            REGIST_DT,
            UPDUSR_NO,
            UPDT_DT
        FROM tb_product_image
        WHERE IMAGE_ID = #{imageId}
    </select>

    <insert id="insertProductImage" parameterType="com.whomade.kycarrots.entity.product.TnProductImageVo">
        INSERT INTO tb_product_image (
            PRODUCT_ID, IMAGE_CD, IMAGE_URL, IMAGE_NAME,
            REPRESENT, IMAGE_SIZE, IMAGE_TEXT, IMAGE_TYPE,
            REGISTER_NO, REGIST_DT, UPDUSR_NO, UPDT_DT
        ) VALUES (
                     #{productId}, #{imageCd}, #{imageUrl}, #{imageName},
                     #{represent}, #{imageSize}, #{imageText}, #{imageType},
                     #{registerNo}, CURRENT_TIMESTAMP, #{updusrNo}, CURRENT_TIMESTAMP
                 )
    </insert>

    <update id="updateProductImage" parameterType="com.whomade.kycarrots.entity.product.TnProductImageVo">
        UPDATE tb_product_image
        SET
            IMAGE_CD = #{imageCd},
            IMAGE_URL = #{imageUrl},
            IMAGE_NAME = #{imageName},
            REPRESENT = #{represent},
            IMAGE_SIZE = #{imageSize},
            IMAGE_TEXT = #{imageText},
            IMAGE_TYPE = #{imageType},
            UPDUSR_NO = #{updusrNo},
            UPDT_DT = CURRENT_TIMESTAMP
        WHERE IMAGE_ID = #{imageId}
    </update>

    <delete id="deleteProductImage" parameterType="long">
        DELETE FROM tb_product_image
        WHERE IMAGE_ID = #{imageId}
    </delete>
    <select id="selectProductById" parameterType="dataMap" resultType="com.whomade.kycarrots.entity.product.TnProductVo">
        SELECT
            A.PRODUCT_ID,
            A.USER_NO,
            A.TITLE,
            A.DESCRIPTION,
            A.PRICE,
            A.CATEGORY_GROUP,
            A.CATEGORY_MID,
            A.CATEGORY_SCLS,
            (SELECT CODE_NM FROM op_code WHERE GROUP_ID='R010610' AND CODE=A.CATEGORY_MID) AS CATEGORY_MID_NM,
            (SELECT SCLAS_NM FROM op_sclas_code WHERE GROUP_ID='R010610' AND CODE=A.CATEGORY_MID AND SCLAS_CODE=A.CATEGORY_SCLS) AS CATEGORY_SCLS_NM,
            A.AREA_GROUP,
            A.AREA_MID,
            A.AREA_SCLS,
            (SELECT CODE_NM FROM op_code WHERE GROUP_ID=A.AREA_GROUP AND CODE=A.AREA_MID) AS AREA_MID_NM,
            (SELECT SCLAS_NM FROM op_sclas_code WHERE GROUP_ID=A.AREA_GROUP AND CODE=A.AREA_MID AND SCLAS_CODE=A.AREA_SCLS) AS AREA_SCLS_NM,
            IFNULL(A.QUANTITY,0) AS QUANTITY,
            A.UNIT_CODE,
            (SELECT CODE_NM FROM op_code WHERE GROUP_ID='R010620' AND CODE=A.UNIT_CODE) AS UNIT_CODE_NM,
            A.DESIRED_SHIPPING_DATE,
            A.WHOLESALER_NO,
            (SELECT USER_ID FROM op_user WHERE USER_NO = A.WHOLESALER_NO) AS WHOLESALER_ID,
            A.SALE_STATUS,
            A.REJECT_REASON,
            A.REGISTER_NO,
            A.REGIST_DT,
            A.UPDUSR_NO,
            A.UPDT_DT,
            (SELECT COUNT(PRODUCT_ID) FROM tb_product_interest WHERE PRODUCT_ID = #{productId} AND USER_NO =#{userNo}) AS FAV
        FROM tb_product A
        WHERE A.PRODUCT_ID = #{productId}
    </select>

    <select id="selectProductImagesByProductId" parameterType="long" resultType="com.whomade.kycarrots.entity.product.TnProductImageVo">
        SELECT
            IMAGE_ID,
            PRODUCT_ID,
            IMAGE_CD,
            IMAGE_URL,
            IMAGE_NAME,
            REPRESENT,
            IMAGE_SIZE,
            IMAGE_TEXT,
            IMAGE_TYPE,
            REGISTER_NO,
            REGIST_DT,
            UPDUSR_NO,
            UPDT_DT
        FROM tb_product_image
        WHERE PRODUCT_ID = #{productId}
        ORDER BY REPRESENT DESC,IMAGE_ID ASC
    </select>

    <select id="selectProductStatusCounts" parameterType="long" resultType="com.whomade.kycarrots.framework.common.object.DataMap">
        SELECT
            COUNT(SALE_STATUS) AS totalCount,
            SUM(CASE WHEN SALE_STATUS = '0' THEN 1 ELSE 0 END) AS reguestCount,
            SUM(CASE WHEN SALE_STATUS IN ('1', '10') THEN 1 ELSE 0 END) AS processingCount,
            SUM(CASE WHEN SALE_STATUS = '99' THEN 1 ELSE 0 END) AS completedCount
        FROM tb_product
        WHERE
        <choose>
            <when test='memberCode == "ROLE_SELL"'>
                USER_NO = #{userNo}
            </when>
            <when test='memberCode == "ROLE_PROJ"'>
                WHOLESALER_NO = #{userNo}
            </when>
            <otherwise>
                1 = 0
            </otherwise>
        </choose>
    </select>

    <select id="selectRecentProductsByUser" parameterType="dataMap" resultType="com.whomade.kycarrots.entity.product.TnProductVo">
        SELECT
            A.PRODUCT_ID,
            A.TITLE,
            IFNULL(A.QUANTITY, 0) AS QUANTITY,
            A.UNIT_CODE,
            (SELECT CODE_NM
             FROM op_code
             WHERE GROUP_ID = 'R010620' AND CODE = A.UNIT_CODE) AS UNIT_CODE_NM,
            A.AREA_GROUP,
            A.AREA_MID,
            A.AREA_SCLS,
            (SELECT CODE_NM
             FROM op_code
             WHERE GROUP_ID = A.AREA_GROUP AND CODE = A.AREA_MID) AS AREA_MID_NM,
            (SELECT SCLAS_NM
             FROM op_sclas_code
             WHERE GROUP_ID = A.AREA_GROUP AND CODE = A.AREA_MID AND SCLAS_CODE = A.AREA_SCLS) AS AREA_SCLS_NM,
            A.SALE_STATUS,
            (SELECT CODE_NM
             FROM op_code
             WHERE GROUP_ID = 'R010630' AND CODE = A.SALE_STATUS) AS SALE_STATUS_NM,
            A.REGIST_DT,
            A.DESIRED_SHIPPING_DATE,
            (SELECT USER_ID FROM op_user WHERE USER_NO = A.USER_NO) AS USER_ID
        FROM tb_product A
        WHERE
        <choose>
            <when test='memberCode == "ROLE_SELL"'>
                A.USER_NO = #{userNo}
            </when>
            <when test='memberCode == "ROLE_PROJ"'>
                A.WHOLESALER_NO = #{userNo}
            </when>
            <otherwise>
                1 = 0
            </otherwise>
        </choose>
        ORDER BY A.REGIST_DT DESC
        LIMIT 3
    </select>

    <!-- 도매상/센터 푸시 대상자 정보 조회 -->
    <select id="selectPushTargetsByProductId" parameterType="long" resultType="com.whomade.kycarrots.push.PushTargetDto">
        SELECT
            U.USER_NO,
            U.DEVICE_TYPE,
            U.PUSH_TOKEN
        FROM op_user U
        WHERE U.USER_NO = #{wholesalerNo}
    </select>

    <update id="updateProductStatus" parameterType="com.whomade.kycarrots.entity.product.TnProductVo">
        UPDATE tb_product
        SET
            SALE_STATUS = #{saleStatus},
            REJECT_REASON = #{rejectReason},
            UPDUSR_NO = #{updusrNo},
            UPDT_DT = CURRENT_TIMESTAMP
        WHERE PRODUCT_ID = #{productId}
    </update>

    <select id="selectChatBuyersByProductAndSeller" parameterType="dataMap" resultType="map">
        SELECT
            A.room_id, A.product_id, A.seller_id,
            B.USER_ID   AS buyer_id,
            B.USER_NO   AS buyer_no,
            B.USER_NM   AS buyer_nm,
            C.USER_NO   AS seller_no,
            C.USER_NM   AS seller_nm
        FROM tb_chat_room A
        LEFT JOIN op_user B ON B.USER_ID = A.buyer_id
        LEFT JOIN op_user C ON C.USER_ID = A.seller_id
        WHERE A.PRODUCT_ID = #{productId}
       AND A.SELLER_ID  = #{sellerId}
        ORDER BY A.ROOM_ID DESC
    </select>
</mapper>